{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password'|trans({}, 'titles') }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row wrapper fadeInDown">
        <div class="col-md-12" id="formContent">
            <div class="fadeIn first">
                <img src="/images/logo.png" id="icon" alt="User Icon" />
            </div>
                <div class="mb-3 alert alert-error font-weight-normal">
                    <strong>{{ 'error'|trans({}, 'titles') }}</strong>{{ 'error_occurred'|trans({}, 'messages') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
