{% extends 'base.html.twig' %}

{% block title %}{{ 'new_password_is_set'|trans({}, 'titles') }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row wrapper fadeInDown">
        <div class="col-md-12" id="formContent">
            <div class="fadeIn first">
                <img src="/images/logo.png" id="icon" alt="User Icon" />
                <div class="mb-3 alert alert-success font-weight-normal">
                    {{ 'password_reset_login'|trans({}, 'messages') }}
                </div>
            </div>
            <div class="row" id="formFooter">
                <div class="col-md-6 col-sm-6 col-xl-6">
                    <a class="underlineHover" href="/login">{{ 'login'|trans({}, 'labels') }}</a>
                </div>
                <div class="col-md-6 col-xl-6">
                    <a class="underlineHover" href="/register">{{ 'register'|trans({}, 'labels') }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
