{% extends 'base.html.twig' %}

{% block title %}Request new Password{% endblock %}

{% block body %}
<div class="container">
    <div class="row wrapper fadeInDown">
        <div class="col-md-12" id="formContent">
            <div class="fadeIn first">
                <img src="/images/logo.png" id="icon" alt="User Icon" />
            </div>
            {% if error is defined %}
                <div class="mb-3 alert alert-error font-weight-normal">
                    <strong>Error!</strong> {{ error }}
                </div>
            {% else %}
                <div class="mb-3 alert alert-success font-weight-normal">
                    Password Request send. Please check your Email!
                </div>
            {% endif %}
            <div class="row" id="formFooter">
                <div class="col-md-6 col-sm-6 col-xl-6">
                    <a class="underlineHover" href="/login">Login</a>
                </div>
                <div class="col-md-6 col-xl-6">
                    <a class="underlineHover" href="/register">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
