{% extends 'base.html.twig' %}

{% block title %}{{ 'ticket_overview'|trans({}, 'titles') }}{% endblock %}

{% block body %}
{% for ticket in tickets %}
    <p>
        {{ ticket.content }}
    </p>
    <p>
        {{ ticket.creator.name }}
    </p>
    <p>
        {% if null != ticket.modifier %}
            {{ ticket.modifier.name }}
        {% endif %}
    </p>
{% endfor %}
{% endblock %}
