<h3>Anfrage zum zurück setzen des Passwords</h3>
<img src="https://retro.byte-artist.de/images/logo.png" id="icon" alt="User Icon" />

<p>
    Mit der Email Adresse "{{ email }}" wurde auf retro.byte-artist.de ein neues Passwort angefragt, solltest du diese Anfrage nicht gestellt haben, ignoriere bitte diese Email.
</p>
<p>
    Falls du diese Anfrage gestellt hast, klicke bitte diesen <a href="{{ absolute_url(path('app_reset_password', { 'email': email, 'token': token })) }}">Link</a> um ein neues Passwort zu erhalten.
</p>
<p>
    mit freundlichen Grüßen<br />
    das Team von retro.byte-artist.de
</p>