<h3>Reset Password Request!</h3>
<img src="https://retro.byte-artist.de/images/logo.png" id="icon" alt="User Icon" />

<p>
    With the email address "{{ email }}" on retro.byte-artist.de a new password has been requested, if you have not asked this question, please ignore this email.
</p>
<p>
    If you have made this request, please click this <a href="{{ absolute_url(path('app_reset_password', { 'email': email, 'token': token })) }}"> link </a> to get a new password.
</p>
<p>
    Yours sincerely<br />
    the team of retro.byte-artist.de
</p>
